html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	color: black;
}

body {
	font-family: HelveticaTextbookCom-Roman, HelveticaTextbook-Roman, Helvetica, Arial, sans-serif;
	height: 100%;
	text-align: center;
	margin: 0;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 41px;
	line-height: 41px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	line-height: 27px;
	font-weight: normal;
}

h1, h2 {
	margin: 0;
	position: absolute;
	width: 500px;
	white-space: nowrap;
	padding: 0 25vw;
}

h1 span.outer {
	position: relative;
	display: block;
	-webkit-animation-name: moveX;
	animation-name: moveX;
	-webkit-animation-duration: 50s;
	animation-duration: 50s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: -25s;
	animation-delay: -25s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

h1 span.inner {
	-webkit-animation-name: moveYTop;
	animation-name: moveYTop;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: -60s;
	animation-delay: -60s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

h2 span.outer {
	position: relative;
	display: block;
	-webkit-animation-name: moveX;
	animation-name: moveX;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: -60s;
	animation-delay: -60s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

h2 span.inner {
	-webkit-animation-name: moveYBottom;
	animation-name: moveYBottom;
	-webkit-animation-duration: 50s;
	animation-duration: 50s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: -25s;
	animation-delay: -25s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

#flexWrapper{
	height: 100%;
}

hr {
	border: none;
	height: 1px;
	background-color: black;
	width: 96%;
	margin: 0 2%;
	position: absolute;
	top: 50%;
}

span.inner {
	display: inline-block;
}

.ie h1 span {
	-webkit-animation-name: none;
	animation-name: none;
	top: calc(25vh - 50%);
	left: calc(50vw - 50%);
}
.ie h2 span {
	-webkit-animation-name: none;
	animation-name: none;
	top: calc(75vh - 50%);
	left: calc(50vw - 50%);
}

@-webkit-keyframes moveX {
	from {
		-webkit-transform: translateX(1vw) translateX(-1);
		transform: translateX(1vw) translateX(-1);
	}
	to {
		-webkit-transform: translateX(100vw) translateX(-100%);
		transform: translateX(100vw) translateX(-100%);
	}
}

@keyframes moveX {
	from {
		-webkit-transform: translateX(1vw) translateX(-1);
		transform: translateX(1vw) translateX(-1);
	}
	to {
		-webkit-transform: translateX(100vw) translateX(-100%);
		transform: translateX(100vw) translateX(-100%);
	}
}

@-webkit-keyframes moveYTop {
	from {
		-webkit-transform: translateY(1vh) translateY(-0.5%);
		transform: translateY(1vh) translateY(-0.5%);
	}
	to {
		-webkit-transform: translateY(50vh) translateY(-100%);
		transform: translateY(50vh) translateY(-100%);
	}
}

@keyframes moveYTop {
	from {
		-webkit-transform: translateY(1vh) translateY(-0.5%);
		transform: translateY(1vh) translateY(-0.5%);
	}
	to {
		-webkit-transform: translateY(50vh) translateY(-100%);
		transform: translateY(50vh) translateY(-100%);
	}
}

@-webkit-keyframes moveYBottom {
	from {
		-webkit-transform: translateY(50vh) translateY(1%);
		transform: translateY(50vh) translateY(1%);
	}
	to {
		-webkit-transform: translateY(100vh) translateY(-100%);
		transform: translateY(100vh) translateY(-100%);
	}
}

@keyframes moveYBottom {
	from {
		-webkit-transform: translateY(50vh) translateY(1%);
		transform: translateY(50vh) translateY(1%);
	}
	to {
		-webkit-transform: translateY(100vh) translateY(-100%);
		transform: translateY(100vh) translateY(-100%);
	}
}
