html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #20e690;
	color: black;
}

body {
	font-family: HelveticaTextbookCom-Roman, HelveticaTextbook-Roman, Helvetica, Arial, sans-serif;
	height: 100%;
	text-align: center;
	margin: 0;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 41px;
	line-height: 41px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	line-height: 27px;
	font-weight: normal;
}

h1, h2 {
	margin: 0;
	position: absolute;
	width: 500px;
	white-space: nowrap;
}

h1 span.outer {
	position: relative;
	display: block;
	animation-name: moveX;
	animation-duration: 56s;
	animation-timing-function: linear;
	animation-delay: -28s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

h1 span.inner {
	animation-name: moveYTop;
	animation-duration: 44s;
	animation-timing-function: linear;
	animation-delay: -66s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

h2 span.outer {
	position: relative;
	display: block;
	animation-name: moveX;
	animation-duration: 44s;
	animation-timing-function: linear;
	animation-delay: -66s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

h2 span.inner {
	animation-name: moveYBottom;
	animation-duration: 56s;
	animation-timing-function: linear;
	animation-delay: -28s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#flexWrapper{
	height: 100%;
}

hr {
	border: none;
	height: 1px;
	background-color: black;
	width: 96%;
	margin: 0 2%;
	position: absolute;
	top: 50%;
}

span.inner {
	display: inline-block;
}


@keyframes moveX {
	from {
		transform: translateX(0) translateX(0);
	}
	to {
		transform: translateX(100vw) translateX(-100%);
	}
}

@keyframes moveYTop {
	from {
		transform: translateY(0) translateY(0);
	}
	to {
		transform: translateY(50vh) translateY(-100%);
	}
}

@keyframes moveYBottom {
	from {
		transform: translateY(50vh) translateY(0);
	}
	to {
		transform: translateY(100vh) translateY(-100%);
	}
}
